*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    height: 7vh;
    border-bottom: 1px solid rgb(209, 208, 208);
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav{
    display: none;
    position: absolute;
    height: 100vh;
    width: 30vh;
    background-color:white;
    top: 0;
    left: 0;
    transition: all 0.6s ease;
    place-content: center;
    box-shadow: 3px 3px 3px 3px black;
}

.nav2{
    display: block;
    transition: all 0.6s ease;
}

.barras{
    position: absolute;
    left: 25px;
    width: 15px;
    height: 10px;
    padding: 10px 10px 12px 10px;
    transition: all 0.3s ease;
}

.barras:hover{
    background-color: rgb(209, 208, 208);
}

.barra{
    right: 50px;
    margin: 2px 0px;
    width: 100%;
    height: 2px;
    background-color: black;
}


ul{
    width: 100%;
    height: 100%;
    place-content: center;
    color: black;
}

li{
    cursor: pointer;
    place-content: center;
    list-style: none;
    margin: 0px 20px;
    padding: 0px 20px;
    width: 60%;
    height: 30px;
    font-weight: bold;
}

li:hover{
    background-color: #f0f8fb;
    transition: all 0.5s ease;
}

span{
    position: absolute;
    padding: 0px 20px;
    right: 0px;
    color: rgb(182, 168, 168);
    font-size: 15px;
}

.world{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}


.nav3{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.nav3 h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 40px;
    padding-top: 50px;
}
.nav-inf {
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    text-transform: uppercase;
    justify-content: left;
}

.nav-inf li{
    margin: 0px;
    padding:  0px 5px;
    font-size: 11px;
    font-weight: 100;
    width: 60px;
    height: 20px;
    border-right: 1px solid gray;
}

.nav-inf li:last-child{
    width: 100px;
    border: none;
}

section{
    padding: 0px;
    margin: 0px 0px;
    display: grid;
    width: 100%;
    height: 1700px;
    grid-template-rows: repeat(15,1fr);
    grid-template-columns: repeat(5, 1fr);
    border-top: 3px solid rgb(0, 0, 0);
}

.inf1{
    margin: 28px;
    padding: 28px;
    grid-column: 1/4;
    grid-row: 1/7;
    border-right: 1px solid black;
}

.inf1 img{
    width: 100%;
}

.span1{
    position: relative;
    display: block;
    justify-content: right;
    align-items: flex-end;
}