@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Baskervville:ital@0;1&family=Jacquard+24&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');
@import url('https://fonts.cdnfonts.com/css/itc-cheltenham-std');

*{
    margin: 0px;
    padding: 0px;
    font-family: "PT Serif";
}
.fondonav{
    display: none;
    position: absolute;
    height: 100vh;
    width: 80vw;
    background-color:rgba(255, 255, 255, 0);
    top: 0;
    right: 0;
    z-index: 1;
}

.fondoopen{
    display: block;
}

header{
    width: 100%;
    height: 7vh;
    border-bottom: 1px solid rgb(209, 208, 208);
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav{
    display: none;
    position: absolute;
    height: 100vh;
    width: 20vw;
    background-color:white;
    top: 0;
    left: 0;
    transition: all 0.6s ease;
    place-content: center;
    box-shadow: 3px 3px 3px 3px black;
    justify-content: space-between;
}

.nav2{
    display: block;
    transition: all 0.6s ease;
}

.barras{
    position: absolute;
    left: 25px;
    width: 15px;
    height: 10px;
    padding: 10px 10px 12px 10px;
    transition: all 0.3s ease;
}

.barras:hover{
    background-color: rgb(209, 208, 208);
}

.barra{
    right: 50px;
    margin: 2px 0px;
    width: 100%;
    height: 2px;
    background-color: black;
}


ul{
    width: 100%;
    height: 100%;
    place-content: center;
    color: black;
}

.raya{
    border-top: 1px solid rgba(0, 0, 0, 0.39);
    padding-top: 10px;
}

li{
    cursor: pointer;
    place-content: center;
    list-style: none;
    margin: 0px 20px;
    padding: 0px 20px;
    width: 65%;
    height: 30px;
    font-size: 15px;
    font-weight: 700;
    font-family: "ABeeZee", sans-serif;
}

li:hover{
    background-color: #f0f8fb;
    transition: all 0.5s ease;
}

span{
    position: absolute;
    padding: 0px 20px;
    right: 0px;
    color: rgb(182, 168, 168);
    font-size: 15px;
}

.world{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}


.nav3{
    width: 90%;
    margin: 0px;
    padding: 0px 5%;
}

.nav3 h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 50px;
    padding-top: 50px;
}
.nav-inf {
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    text-transform: uppercase;
    justify-content: left;
}

.nav-inf li{
    margin: 0px 0px;
    padding:  0px 0px;
    font-size: 11px;
    font-weight: 400;
    width: 60px;
    height: 20px;
    color: rgba(0, 0, 0, 0.767);
    font-family: "ABeeZee", sans-serif;
    border-right: 1px solid gray;
    text-align: center;
    justify-content: center;
}

.nav-inf li:hover{
    text-decoration: underline;
}

.nav-inf li:last-child{
    width: 100px;
    border: none;
}

.cuadro1{
    padding-top: 20px;
    margin: 0px 2%;
    display: grid;
    width: 96%;
    height: 1100px;
    grid-template-rows: repeat(7,1fr);
    grid-template-columns: repeat(6, 1fr);
    border-top: 3px solid rgb(0, 0, 0);
    gap: 5px;
}

.inf1{
    padding: 10px;
    grid-column: 1/4;
    grid-row: 1/8;
    border-right: 1px solid rgba(0, 0, 0, 0.486);
}

.inf1 img{
    width: 100%;
}

.span1{
    position: relative;
    display: block;
    justify-content: right;
    align-items: flex-end;
}

.titulo{
    font-family: "Jacquard 24";
    font-size: 31px;
    font-weight: 400;
}

.world{
    font-size: 15px;
    font-weight: 700;
}

.botones{
    height: 100%;
    width: 25%;
    place-content: center;
    text-align: center;
}
.btn{
    background-color: #567B95;
    color: white;
    border-radius: 2px;
    border: none;
    padding: 5px 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.inf2{
    padding: 10px;
    grid-column: 4/6;
    grid-row: 1/8;
    border-right: 1px solid rgba(0, 0, 0, 0.486);
}

.inf2 img{
    width: 100%;
}

.inf3{
    padding: 10px;
    grid-column: 6/7;
    grid-row: 1/4;
    border-bottom: 1px solid rgba(0, 0, 0, 0.486);
}
.inf4{
    padding: 10px;
    grid-column: 6/7;
    grid-row: 4/8;
}

h3:hover{
    text-decoration: underline;
}

.cuadro2{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows:repeat(1, 1fr);
    padding-top: 20px;
    margin: 20px 2%;
    display: grid;
    width: 96%;
    height: 300px;
    border-top: 1px solid rgba(0, 0, 0, 0.486);
    gap: 10px;
    place-content: center;
}

.cuad1 img{
    width: 98%;
}
.cuad1{
    cursor: pointer;
    justify-content: center;
    align-items: center;
    grid-row: 1/2 ;
    border-right: 1px solid rgba(0, 0, 0, 0.486);
}

.cuad1:last-child{
    border: none;
}


.cuad1 h4:hover{
    text-decoration: underline;
}

.cuadro3{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows:repeat(1, 1fr);
    padding-top: 20px;
    margin: 20px 2%;
    display: grid;
    width: 96%;
    height: 300px;
    border-top: 1px solid rgba(0, 0, 0, 0.486);
    gap: 10px;
    place-content: center;
}

.infoP{
    grid-column: ;
}


@media screen and (max-width: 600px) {
    
}